</body>

<footer>
    <u class="footer--underline"><h3 style="color: white; font-family: 'Lato', sans-serif; font-weight: 700; font-size: 30px;">Made By &nbsp;<a href="https://swarup-linklist.netlify.app/" style="text-decoration: none; color: black; font-size: 40px;" target="_blank">Swarup</a></h3></u>
</footer>

</html>